[Unit]
Description=A time synchronization program that uses HTTP protocol
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/samaya

[Install]
WantedBy=multi-user.target